
.homeBtn{
    margin-right:15px;
}
.nav-header{
    color:crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btnLink{
    text-decoration: none;
    color:white;
}